In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set()

In [27]:
df = pd.read_csv("jesterfinal151cols.csv")
df.fillna(99, inplace=True) # Change all null value into 99
df

,Total_Joke,Joke_1,Joke_2,Joke_3,Joke_4,Joke_5,Joke_6,Joke_7,Joke_8,Joke_9,...,Joke_141,Joke_142,Joke_143,Joke_144,Joke_145,Joke_146,Joke_147,Joke_148,Joke_149,Joke_150
0,62,99,99,99,99,0.21875,99,-9.28125,-9.28125,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
1,34,99,99,99,99,-9.68750,99,9.93750,9.53125,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
2,18,99,99,99,99,-9.84375,99,-9.84375,-7.21875,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
3,82,99,99,99,99,6.90625,99,4.75000,-5.90625,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
4,27,99,99,99,99,-0.03125,99,-9.09375,-0.40625,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50687,15,99,99,99,99,99.00000,99,-5.93750,-3.71875,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,-1.15625,99.0,-1.1875
50688,12,99,99,99,99,99.00000,99,-5.71875,-8.15625,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,3.06250,99.0,99.0000
50689,14,99,99,99,99,99.00000,99,0.09375,0.09375,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
50690,29,99,99,99,99,99.00000,99,-0.12500,-0.12500,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
50691,19,99,99,99,99,99.00000,99,-1.75000,-0.09375,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000

# Data Cleaning

In [28]:
count = [] # Create a list to see how much non null object in every columns
for i in df:
    if i == "Total_Joke": # We don't use the first column
        continue
    c = (df[i] != 99).sum()
    count.append(c)
 
# We then print all the important attributes
print("Statistics Summary:")
print(f"Mean               : {np.mean(count)}")
print(f"Median             : {np.median(count)}")
print(f"Standard deviation : {np.std(count)}")
print(f"Max                : {np.max(count)}")
print(f"Min                : {np.min(count)}")

Statistics Summary:
Mean               : 11525.646666666667
Median             : 9225.0
Standard deviation : 11055.651863872865
Max                : 50692
Min                : 0

### 1 Joke gets around 12,000 ratings
### Therefore, we candrop jokes that have less than 5000 ratings and the rest of null value will be filled by inputations

In [43]:
df_new = df.copy() # Create a copy from the original data frame
for i in df:
    if i == "Total_Joke": # We drop total joke first
        df_new = df_new.drop(i, axis=1)
    c = (df[i] != 99).sum()
    if c < 5000:
        for j in range(0,50692): # Check each row
            value = df_new[i][j]
            if value != 99: # If the value of jth row on the coloumn that will be deleted is not a null value
                df['Total_Joke'][j] -= 1 # That specific row(user) total number of jokes will be reduced
        df_new = df_new.drop(i, axis=1)
df_new

C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1
C:\Users\reyna\AppData\Local\Temp\ipykernel_2672\3055609116.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Joke'][j] -= 1

,Joke_7,Joke_8,Joke_13,Joke_15,Joke_16,Joke_17,Joke_18,Joke_19,Joke_21,Joke_22,...,Joke_139,Joke_140,Joke_142,Joke_143,Joke_144,Joke_145,Joke_147,Joke_148,Joke_149,Joke_150
0,-9.28125,-9.28125,-6.78125,0.87500,-9.65625,-9.03125,-7.46875,-8.71875,-7.18750,-8.78125,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
1,9.93750,9.53125,9.93750,0.40625,3.71875,9.65625,-2.68750,-9.56250,9.84375,99.00000,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
2,-9.84375,-7.21875,-2.03125,-9.93750,-9.96875,-9.87500,-9.81250,-9.78125,99.00000,99.00000,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
3,4.75000,-5.90625,-0.40625,-4.03125,3.87500,6.21875,5.65625,6.09375,6.37500,7.03125,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
4,-9.09375,-0.40625,7.50000,-7.21875,-9.43750,0.12500,-9.15625,3.65625,7.90625,99.00000,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50687,-5.93750,-3.71875,-3.53125,-0.93750,-0.87500,-0.90625,-0.90625,-1.31250,99.00000,99.00000,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,-1.15625,99.0,-1.1875
50688,-5.71875,-8.15625,-6.12500,-8.40625,-8.78125,-0.75000,-1.81250,-7.37500,99.00000,99.00000,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,3.06250,99.0,99.0000
50689,0.09375,0.09375,0.09375,-2.65625,-3.34375,6.59375,-6.37500,-5.50000,99.00000,99.00000,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
50690,-0.12500,-0.12500,-5.43750,0.00000,-5.59375,0.50000,-2.65625,-1.96875,99.00000,99.00000,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000
50691,-1.75000,-0.09375,3.75000,8.21875,6.56250,5.09375,1.43750,3.09375,99.00000,99.00000,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.00000,99.0,99.0000

### To fill the null values, the idea is we will use mean imputation by filling the mean rating of that user to the null value

In [45]:
# First, we need to iterate each row, then replace the null value with the mean
for i, row in df_new.iterrows():
    mean = np.mean(row[row!=99])
    df_new.loc[i, 'Mean'] = mean
    df_new.iloc[i] = row.replace(99, mean)
df_new

,Joke_7,Joke_8,Joke_13,Joke_15,Joke_16,Joke_17,Joke_18,Joke_19,Joke_21,Joke_22,...,Joke_140,Joke_142,Joke_143,Joke_144,Joke_145,Joke_147,Joke_148,Joke_149,Joke_150,Mean
0,-9.28125,-9.28125,-6.78125,0.87500,-9.65625,-9.03125,-7.46875,-8.71875,-7.187500,-8.781250,...,2.432783,2.432783,2.432783,2.432783,2.432783,2.432783,2.432783,2.432783,2.432783,2.432783
1,9.93750,9.53125,9.93750,0.40625,3.71875,9.65625,-2.68750,-9.56250,9.843750,4.532328,...,4.532328,4.532328,4.532328,4.532328,4.532328,4.532328,4.532328,4.532328,4.532328,4.532328
2,-9.84375,-7.21875,-2.03125,-9.93750,-9.96875,-9.87500,-9.81250,-9.78125,-6.414583,-6.414583,...,-6.414583,-6.414583,-6.414583,-6.414583,-6.414583,-6.414583,-6.414583,-6.414583,-6.414583,-6.414583
3,4.75000,-5.90625,-0.40625,-4.03125,3.87500,6.21875,5.65625,6.09375,6.375000,7.031250,...,2.678697,2.678697,2.678697,2.678697,2.678697,2.678697,2.678697,2.678697,2.678697,2.678697
4,-9.09375,-0.40625,7.50000,-7.21875,-9.43750,0.12500,-9.15625,3.65625,7.906250,-1.622024,...,-1.622024,-1.622024,-1.622024,-1.622024,-1.622024,-1.622024,-1.622024,-1.622024,-1.622024,-1.622024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50687,-5.93750,-3.71875,-3.53125,-0.93750,-0.87500,-0.90625,-0.90625,-1.31250,-1.770833,-1.770833,...,-1.770833,-1.770833,-1.770833,-1.770833,-1.770833,-1.770833,-1.156250,-1.770833,-1.187500,-1.770833
50688,-5.71875,-8.15625,-6.12500,-8.40625,-8.78125,-0.75000,-1.81250,-7.37500,-2.908854,-2.908854,...,-2.908854,-2.908854,-2.908854,-2.908854,-2.908854,-2.908854,3.062500,-2.908854,-2.908854,-2.908854
50689,0.09375,0.09375,0.09375,-2.65625,-3.34375,6.59375,-6.37500,-5.50000,-0.484375,-0.484375,...,-0.484375,-0.484375,-0.484375,-0.484375,-0.484375,-0.484375,-0.484375,-0.484375,-0.484375,-0.484375
50690,-0.12500,-0.12500,-5.43750,0.00000,-5.59375,0.50000,-2.65625,-1.96875,0.218750,0.218750,...,0.218750,0.218750,0.218750,0.218750,0.218750,0.218750,0.218750,0.218750,0.218750,0.218750
50691,-1.75000,-0.09375,3.75000,8.21875,6.56250,5.09375,1.43750,3.09375,4.312500,4.312500,...,4.312500,4.312500,4.312500,4.312500,4.312500,4.312500,4.312500,4.312500,4.312500,4.312500

In [46]:
# We add back the total joke coloumn
df_new["Total_Joke"] = df["Total_Joke"]
df_new

,Joke_7,Joke_8,Joke_13,Joke_15,Joke_16,Joke_17,Joke_18,Joke_19,Joke_21,Joke_22,...,Joke_142,Joke_143,Joke_144,Joke_145,Joke_147,Joke_148,Joke_149,Joke_150,Mean,Total_Joke
0,-9.28125,-9.28125,-6.78125,0.87500,-9.65625,-9.03125,-7.46875,-8.71875,-7.187500,-8.781250,...,2.432783,2.432783,2.432783,2.432783,2.432783,2.432783,2.432783,2.432783,2.432783,44
1,9.93750,9.53125,9.93750,0.40625,3.71875,9.65625,-2.68750,-9.56250,9.843750,4.532328,...,4.532328,4.532328,4.532328,4.532328,4.532328,4.532328,4.532328,4.532328,4.532328,24
2,-9.84375,-7.21875,-2.03125,-9.93750,-9.96875,-9.87500,-9.81250,-9.78125,-6.414583,-6.414583,...,-6.414583,-6.414583,-6.414583,-6.414583,-6.414583,-6.414583,-6.414583,-6.414583,-6.414583,12
3,4.75000,-5.90625,-0.40625,-4.03125,3.87500,6.21875,5.65625,6.09375,6.375000,7.031250,...,2.678697,2.678697,2.678697,2.678697,2.678697,2.678697,2.678697,2.678697,2.678697,60
4,-9.09375,-0.40625,7.50000,-7.21875,-9.43750,0.12500,-9.15625,3.65625,7.906250,-1.622024,...,-1.622024,-1.622024,-1.622024,-1.622024,-1.622024,-1.622024,-1.622024,-1.622024,-1.622024,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50687,-5.93750,-3.71875,-3.53125,-0.93750,-0.87500,-0.90625,-0.90625,-1.31250,-1.770833,-1.770833,...,-1.770833,-1.770833,-1.770833,-1.770833,-1.770833,-1.156250,-1.770833,-1.187500,-1.770833,15
50688,-5.71875,-8.15625,-6.12500,-8.40625,-8.78125,-0.75000,-1.81250,-7.37500,-2.908854,-2.908854,...,-2.908854,-2.908854,-2.908854,-2.908854,-2.908854,3.062500,-2.908854,-2.908854,-2.908854,12
50689,0.09375,0.09375,0.09375,-2.65625,-3.34375,6.59375,-6.37500,-5.50000,-0.484375,-0.484375,...,-0.484375,-0.484375,-0.484375,-0.484375,-0.484375,-0.484375,-0.484375,-0.484375,-0.484375,14
50690,-0.12500,-0.12500,-5.43750,0.00000,-5.59375,0.50000,-2.65625,-1.96875,0.218750,0.218750,...,0.218750,0.218750,0.218750,0.218750,0.218750,0.218750,0.218750,0.218750,0.218750,29
50691,-1.75000,-0.09375,3.75000,8.21875,6.56250,5.09375,1.43750,3.09375,4.312500,4.312500,...,4.312500,4.312500,4.312500,4.312500,4.312500,4.312500,4.312500,4.312500,4.312500,19

In [47]:
# Then, we can import back the new dataframe to a new csv file that can be used later in the Data Exploration
df_new.to_csv('new_data.csv', index=False)

### *We won't drop users(rows) that only do certain number of ratings, since the modal will take account of that value